{{#extend "index"}}
{{#content "content"}}
<table class="table">
    <thead>
        <th>
            Код
        </th>
        <th>
            Поймано
        </th>
    </thead>
    <tbody>
    {{#each leaderboard}}
    {{#if show}}
    <tr>
        <td>
            {{emojies}}
        </td>
        <td>
            {{capturedamount}}
        </td>
    </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>
{{/content}}
{{/extend}}
