{{#extend "index"}}
{{#content "content"}}
<table class="table">
    <thead>
        <th>
            Код
        </th>
        <th>
            Количество пойманного
        </th>
        <th>
            Получил приз
        </th>
    </thead>
    <tbody>
    <tr>
      <td><s>👉🥝🥪</s></td>
      <td><s>10</s></td>
      <td>да</td>
    </tr>
    {{#each leaderboard}}
    <tr>
        <td>
            {{emojies}}
        </td>
        <td>
            {{capturedamount}}
        </td>
        <td>
            {{receivedprize}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{/content}}
{{/extend}}
