{{#extend "index"}}
{{#content "content"}}
<img class="img-thumbnail" style="display: block; max-width: 90%; margin: auto;" src="{{pokemon.image.path}}">
<br>
<b>Название: </b> {{pokemon.name}}
<p>{{pokemon.description}}</p>
{{/content}}
{{/extend}}