{{#extend "index"}}
  {{#content "content"}}
    <p>Ваш уникальный код:</p>
    <h3>{{{user.emojies}}}</h3>
    {{#if pokemons}}
      <hr>
      <b>Пойманные покемоны:</b>
      <ol>
        {{#each pokemons}}
          <li><a href="/p/{{slug}}">{{name}}</a></li>
        {{/each}}
      </ol>
    {{/if}}
  {{/content}}
{{/extend}}
