{{#extend "index"}}
{{#content "content"}}
Ваш id: {{user.id}}<br>
{{user.emojies}}
<hr>
<b>Пойманные покемоны:</b>
<ul>
    {{#each pokemons}}
    <li><a href="/p/{{url}}">{{name}}</a></li>
    {{/each}}
</ul>
{{/content}}
{{/extend}}